/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    padding: 63px 0 15px;
}

a {
    text-decoration: none;
}
.product-listing {
    font-size: 14px;
}
.product-listing .name { font-size: 16px; }
.product-listing .name a { color: #a20025; }
.product-listing .name a:hover { color: #ff0000; }
.product-listing .price .number { font-size: 18px; color: #a20025; }
.product-listing .stock-quantity { font-size: 13px; }

.bg-navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #a20025;
    color: #fff;
    font-size: 1.25rem;
    z-index: 2;
}
.bg-navbar a  {
    color: #fff;
}
.bg-navbar a:hover {
    color: #ffff00;
}
.navbar-toggler {
    color: #fff;
}